[submodule "PROJECT-WDD-FINAL-Project"]
	path = PROJECT-WDD-FINAL-Project
	url = git://github.com/JeliHacker/PROJECT-WDD-Final-Project.git
[submodule "CSC160_FinalProject"]
	path = CSC160_FinalProject
	url = https://github.com/JeliHacker/PROJECT-WDD-Final-Project.git
[submodule "3D-Engine-Arongil"]
	path = 3D-Engine-Arongil
	url = https://github.com/JeliHacker/3D-Engine-Arongil.git
