[submodule "PROJECT-WDD-FINAL-Project"]
	path = PROJECT-WDD-FINAL-Project
	url = git://github.com/JeliHacker/PROJECT-WDD-Final-Project.git
[submodule "CSC160_FinalProject"]
	path = CSC160_FinalProject
	url = https://github.com/JeliHacker/PROJECT-WDD-Final-Project.git
[submodule "3D-Engine-Arongil"]
	path = 3D-Engine-Arongil
	url = https://github.com/JeliHacker/3D-Engine-Arongil.git
[submodule "3D-Engine"]
	path = 3D-Engine
	url = https://github.com/JeliHacker/3D-Engine.git
[submodule "react_blog"]
	path = react_blog
	url = https://github.com/JeliHacker/react_blog.git
[submodule "TheGameOfLife"]
	path = TheGameOfLife
	url = https://github.com/JeliHacker/TheGameOfLife
[submodule "etrade-data"]
	path = etrade-data
	url = https://github.com/JeliHacker/etrade-data.git
[submodule "quizbowl.io"]
	path = quizbowl.io
	url = https://github.com/JeliHacker/quizbowl.io.git
